SUPABASE_URL=
SUPABASE_PROJECT_ID=
SUPABASE_ANON_KEY=

SUPABASE_API_KEY=
SUPABASE_JWKS_URL=

SUPABASE_JWT_ALGORITHM=ES256

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=
VNPAY_RETURN_URL=

VNPAY_IPN_URL=

ADMIN_API_KEY=

LALAMOVE_API_KEY=
LALAMOVE_API_SECRET=
LALAMOVE_BASE_URL=
LALAMOVE_MARKET=

GOONG_API_KEY=

MOIT_API_USERNAME=
MOIT_API_PASSWORD=

CORS_EXTRA_ORIGIN=
